<ion-header>
    <smilo-nav-header titleTranslationKey="import_passphrase.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-xs-12 col-md-9 col-lg-5>
        <form [formGroup]="form">
          <ion-item>
            <ion-label stacked>
              {{ 'import_passphrase.instruction' | translate }}
            </ion-label>
            <ion-textarea rows="3"
                        formControlName="passphrase"
                        [(ngModel)]="passphrase" 
                        (ionChange)="onPassphraseChanged()"
                        [placeholder]="'import_passphrase.passphrase_hint' | translate"
                        [attr.data-cy]="'passphrase-input'"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label stacked>
              {{ 'import_passphrase.password_instruction' | translate }}
            </ion-label>
            <ion-input type="password" 
                        formControlName="password"
                        [(ngModel)]="password" 
                        (ionChange)="onPasswordChanged()"
                        [attr.data-cy]="'password-input'"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>
              {{ 'import_passphrase.password_confirm_instruction' | translate }}
            </ion-label>
            <ion-input type="password" 
                        formControlName="passwordConfirm"
                        [(ngModel)]="passwordConfirm" 
                        (ionChange)="onPasswordChanged()"
                        [attr.data-cy]="'password-confirm-input'"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>
              {{ 'import_passphrase.wallet_name' | translate }}
            </ion-label>
            <ion-input formControlName="walletName"
                        [(ngModel)]="walletName"
                        [attr.data-cy]="'wallet-name-input'"></ion-input>
          </ion-item>

          <div *ngIf="showAdvanced">
            <ion-item>
              <ion-label stacked>
                {{ 'import_passphrase.wallet_index' | translate }}
              </ion-label>
              <ion-input formControlName="walletIndex"
                          class="wallet-index-input"
                          [(ngModel)]="walletIndex"
                          [attr.data-cy]="'wallet-index-input'"></ion-input>
            </ion-item>
          </div>
        </form>

        <div class="content-div" *ngIf="passwordStatus && passwordStatus.type != 'success'" [attr.data-cy]="'password-error-box'">
          <span [ngClass]="{'error-box': passwordStatus.type == 'error', 'warning-box': passwordStatus.type == 'warning'}" 
                class="password-message-box">
            {{ passwordStatus.message }}
          </span>
        </div>

        <div class="content-div" *ngIf="passphraseStatus && !passphraseStatus.isValid" [attr.data-cy]="'passphrase-error-box'">
          <span [ngClass]="{'error-box': passphraseStatus.isBlocking, 'warning-box': !passphraseStatus.isBlocking}" 
                class="error-box">
            {{ passphraseStatus.errorMessage }}
          </span>
        </div>

        <div class="content-div" *ngIf="!form.controls.walletIndex.valid" [attr.data-cy]="'wallet-index-error-box'">
          <span class="error-box">
              {{ 'import_passphrase.errors.wallet_index' | translate }}
          </span>
        </div>
        
        <div class="content-div">
          <button ion-button small
                  (click)="walletIndex = 0; showAdvanced = !showAdvanced"
                  [attr.data-cy]="'toggle-index-button'">
            {{ 'import_passphrase.buttons.advanced' | translate }}
          </button>
        </div>

        <smilo-password-strength-field [password]="password"></smilo-password-strength-field>

        <div class="content-div">
          <button ion-button *ngIf="dataIsValid()" (click)="import()" [attr.data-cy]="'import-button'">
            {{ 'import_passphrase.buttons.import' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
