page-wallet-import-passphrase {
    .error-box {
        color: red;
    }
    .warning-box {
        color: orange;
    }

    .button {
        font-weight: 900;
        border-radius: 25px;
    }
}
