page-wallet-import-passphrase {
    .error-box {
        color: red;
    }
    .warning-box {
        color: orange;
    }

    .button {
        font-weight: 900;
        border-radius: 25px;
    }

    .content-div {
        text-align: center;
        margin-top: 20px;
    }

    .show-advanced-button {
        margin-bottom: 25px;
    }

    .passphrase-message-box {
        white-space: normal;
    }
}
