<ion-header>
    <smilo-nav-header titleTranslationKey="import_passphrase.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-xs-12 col-md-9 col-lg-5>
        <form [formGroup]="form">
          <ion-item>
            <ion-label stacked>
              {{ 'import_passphrase.instruction' | translate }}
            </ion-label>
            <ion-textarea rows="3"
                        formControlName="passphrase"
                        [(ngModel)]="passphrase" 
                        (ionChange)="onPassphraseChanged()"
                        class="passphrase-input"
                        [placeholder]="'import_passphrase.passphrase_hint' | translate"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label stacked>
              {{ 'import_passphrase.password_instruction' | translate }}
            </ion-label>
            <ion-input type="password" 
                        formControlName="password"
                        class="password-input"
                        [(ngModel)]="password" 
                        (ionChange)="onPasswordChanged()"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>
              {{ 'import_passphrase.password_confirm_instruction' | translate }}
            </ion-label>
            <ion-input type="password" 
                        formControlName="passwordConfirm"
                        class="password-confirm-input"
                        [(ngModel)]="passwordConfirm" 
                        (ionChange)="onPasswordChanged()"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>
              {{ 'import_passphrase.wallet_name' | translate }}
            </ion-label>
            <ion-input class="name-input" 
                        formControlName="walletName"
                        [(ngModel)]="walletName"></ion-input>
          </ion-item>

          <div *ngIf="showAdvanced">
            <ion-item>
              <ion-label stacked>
                {{ 'import_passphrase.wallet_index' | translate }}
              </ion-label>
              <ion-input class="name-input" 
                          formControlName="walletIndex"
                          class="wallet-index-input"
                          [(ngModel)]="walletIndex"></ion-input>
            </ion-item>
          </div>
        </form>

        <div class="content-div" *ngIf="passwordStatus && passwordStatus.type != 'success'">
          <span [ngClass]="{'error-box': passwordStatus.type == 'error', 'warning-box': passwordStatus.type == 'warning'}" 
                class="password-message-box">
            {{ passwordStatus.message }}
          </span>
        </div>

        <div class="content-div" *ngIf="passphraseStatus && !passphraseStatus.isValid">
          <span [ngClass]="{'error-box': passphraseStatus.isBlocking, 'warning-box': !passphraseStatus.isBlocking}" 
                class="error-box passphrase-message-box">
            {{ 'passphrase_messages.' + passphraseStatus.errorMessage | translate }}
          </span>
        </div>

        <div class="content-div" *ngIf="!form.controls.walletIndex.valid">
          <span class="wallet-index-message-box error-box">
              {{ 'import_passphrase.errors.wallet_index' | translate }}
          </span>
        </div>

        <div class="content-div">
          <button ion-button small class="show-advanced-button" (click)="walletIndex = 0; showAdvanced = !showAdvanced">
            {{ 'import_passphrase.buttons.advanced' | translate }}
          </button>
        </div>

        <smilo-password-strength-field [password]="password"></smilo-password-strength-field>

        <div class="content-div">
          <button ion-button *ngIf="dataIsValid()" class="import-button" (click)="import()">
            {{ 'import_passphrase.buttons.import' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
