<ion-header>
    <smilo-nav-header titleTranslationKey="request.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding *ngIf="fromWallet">
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col col-12 col-xl-4>
                <h1 class="no-padding-top">Your address</h1>
                <ion-item class="input-bottom-border">
                    <ion-input class="toAddress biggerText padding" type="text" [disabled]="true" [(ngModel)]="fromWallet.publicKey"></ion-input> 
                </ion-item>
                <h1>Select currency</h1>
                <ion-item class="input-bottom-border no-border">
                    <ion-select class="choose-currency" [(ngModel)]="chosenCurrency" interface="action-sheet">
                        <ion-option *ngFor="let balance of balances" [value]="balance.currency">{{ balance.currency }}</ion-option>
                    </ion-select> 
                </ion-item>     
                <h1>Enter amount</h1>
                <ion-item class="input-bottom-border">
                    <ion-input class="biggerText padding" type="number" [(ngModel)]="amount" placeholder="enter amount"></ion-input>  
                </ion-item>
                <button class="transfer-button" (click)="generateQRCode()" ion-button full>Generate QR code</button>
                <div id="qr-code-field"></div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
