page-wallet-import {
    .scroll-content {
        display: flex;
        flex-direction: column;

        .top-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo {
                max-height: $smilo-logo-max-height;
            }

            .title {
                margin-top: 10px;
            }
        }

        .action-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .restore-backup-button {
                color: gray;
                background-color: transparent;
                font-size: 12px;
            }
        }
    }
}
