page-wallet-new {
    .general-message {
        font-size: 24px;
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
    }

    .warning {
        color: red !important;
    }
}
