page-wallet-import-privatekey {
    .password-error {
        color: red;
        margin-bottom: 20px;
        display: block;

        &:hover {
            cursor: pointer;
        }
    }

    .password-explanation {
        height: 30px;
        margin-top: 20px;
        text-align: center;
        display: block;
        color: #488aff !important;
    }

    ion-textarea textarea {
        resize: none;
    }

    .content-div {
        text-align: center;
        margin-top: 20px;
    }

    .password-strength div {
        text-align: center;
    }

    .password-strength div small {
        display: block;
        color: #aaa;
    }

    .password-strength div ul {
        margin: 0 !important;
    }

    .password-strength div ul li {
        height: 6px !important;
        width: 50px !important;
    }
}
