<ion-header>
  <smilo-nav-header titleTranslationKey="import_privatekey.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-md-9 col-lg-6 col-xl-4>
        <ion-item>
          <ion-label stacked>
            {{ 'import_privatekey.privatekey' | translate }}
          </ion-label>
          <ion-textarea [(ngModel)]="privateKey"
                        rows="10" cols="50"
                        [attr.data-cy]="'private-key-input'">
          </ion-textarea> 
        </ion-item>


        <ion-item>
          <ion-label stacked>
            {{ 'import_privatekey.name' | translate }}
          </ion-label>
          <ion-input [(ngModel)]="name" [attr.data-cy]="'wallet-name-input'"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>
            {{ 'import_privatekey.password' | translate }}
          </ion-label>
          <ion-input type="password" 
                     [(ngModel)]="password" (ionChange)="onPasswordsChanged()"
                     [attr.data-cy]="'password-input'">
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>
            {{ 'import_privatekey.validate_password' | translate }}
          </ion-label>
          <ion-input type="password" 
                     [(ngModel)]="confirmedPassword" (ionChange)="onPasswordsChanged()"
                     [attr.data-cy]="'password-confirm-input'">
          </ion-input>
        </ion-item>

        <div class="content-div">
          <span *ngIf="!passwordsArePristine() && passwordStatus.type != 'success'" class="password-error" [attr.data-cy]="'password-error'">
            {{ passwordStatus.message }}
          </span>
        </div>

        <div class="content-div">
          <a class="password-explanation" (click)="showPasswordExplanation()" [attr.data-cy]="'password-explanation'">
            {{ 'import_privatekey.password_why' | translate }}
          </a>
        </div>

        <smilo-password-strength-field [password]="password"></smilo-password-strength-field>

        <div class="content-div">
          <button ion-button *ngIf="dataIsValid()" (click)="import()" [attr.data-cy]="'start-import-privatekey-button'">
            {{ 'import_privatekey.buttons.import' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
