<ion-header>
  <smilo-nav-header titleTranslationKey="import_privatekey.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-md-9 col-lg-6 col-xl-4>
        <ion-item>
          <ion-label stacked>
            {{ 'import_privatekey.privatekey' | translate }}
          </ion-label>
          <ion-textarea class="private-key-input" [(ngModel)]="privateKey" rows="10" cols="50"></ion-textarea> 
        </ion-item>


        <ion-item>
          <ion-label stacked>
            {{ 'import_privatekey.name' | translate }}
          </ion-label>
          <ion-input class="name-input" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>
            {{ 'import_privatekey.password' | translate }}
          </ion-label>
          <ion-input class="password-input" type="password" [(ngModel)]="password" (ionChange)="onPasswordsChanged()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>
            {{ 'import_privatekey.validate_password' | translate }}
          </ion-label>
          <ion-input class="password-confirmation-input" type="password" [(ngModel)]="confirmedPassword" (ionChange)="onPasswordsChanged()"></ion-input>
        </ion-item>

        <div class="content-div">
          <span *ngIf="!passwordsArePristine() && passwordStatus.type != 'success'" class="password-error">
            {{ passwordStatus.message }}
          </span>
        </div>

        <ng2-password-strength-bar
          class="password-strength"
          [passwordToCheck]="password"
          [barLabel]="barLabel"
          [barColors]="myColors">
        </ng2-password-strength-bar>

        <div class="content-div">
          <a class="password-explanation" (click)="showPasswordExplanation()">
            {{ 'import_privatekey.password_why' | translate }}
          </a>
        </div>

        <div class="content-div">
          <button ion-button *ngIf="dataIsValid()" class="import-button" (click)="import()">
            {{ 'import_privatekey.buttons.import' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
