.light-theme {
    ion-content {
      background-color: #fff;
    }
   
    .toolbar-background {
      background-color: #fff;
    }

    .toolbar-background {
        background-color: #488aff;
    }

    .toolbar-title {
        color: #fff;
        text-align: center;
    }

    .toolbar-title md {
        color: #fff;
        text-align: center;
    }
    
    h4 {
        color: #488aff;
    }
}