.dark-theme {
  .toolbar-background {
    background-color: #434343;
  }

  .scroll-content {
    background-color: #434343;
  }

  .fixed-content {
    background-color: #434343;
  }

  .toolbar-title {
    color: #fff;
  }

  .item-select {
    color: #999;
  }

  .label {
    color: #999;
  }

  h4 {
    color: #fff;
  }

  ion-app {
    background-color: #363232 !important;
  }

  .card {
    background-color: #242424;
  }

  .card p {
    color: #DADFE1;
  }

  .item {
    background-color: #242424;
  }

  .item-input {
    background-color: #434343;
    color: #fff;
  }

  .label {
    color: #fff !important;
  }

  .item:active {
    background-color: #393939;
  }

  .button {
    background-color: #eeae15;
  }

  .button:hover {
    background-color: #eeae15 !important;
    opacity: 0.8;
  }

  .item-radio-checked.item {
    color: #eeae15;
  }

  ion-label {
    color: #eeae15;
  }

  .select-text {
    color: #fff;
  }

  .select-icon-inner {
    color: #eeae15 !important;
  }

  .radio-checked { 
    border-color: #eeae15 !important;
  } 

  .radio-inner {
    background-color: #eeae15 !important;
  }

  .item-radio-checked {
    color: #eeae15 !important;
  }

  .item-radio-checked div div ion-label {
    color: #eeae15 !important;
  }

  .toggle-icon {
    background-color: #eeae15 !important;
  }

  .toggle-inner {
    background-color: #DA9E10 !important;
  }

  ion-icon {
    color: white !important;
  }

  .logo-container-title {
    color: #fff;
  }

  .title {
    color: #fff;
  }

  .warning-content {
    color: #fff;
  }

  .warning-sub-container {
    color: #fff;
  }

  .sub-title {
    color: #fff;
  }

  .word {
    color: #fff;
  }

  .description {
    color: #fff;
  }

  .term-description-container {
    color: #fff;
  }

  .checkbox-checked {
    background-color: #DA9E10 !important;
    border-color: #DA9E10 !important;
  }

  // .delete-button {
  //   .alert-wrapper{
  //     background-color: #242424 !important;
  //   }
  // }
}  