.dark-theme {
  .select-text {
    color: #fff;
  }

  .toolbar-title {
    color: #fff;
  }

  .label {
    color: #fff;
  }

  h4 {
    color: #fff;
  }

  .card p {
    color: #DADFE1;
  }

  ion-textarea {
    color: #fff !important;
  }

  .toolbar-background {
    background-color: #064C70;
  }

  .scroll-content {
    background-color: #434343;
  }

  .fixed-content {
    background-color: #434343;
  }

  .item-input {
    background-color: #434343;
    color: #fff;
  }

  ion-app {
    background-color: #363232;
  }

  ion-footer {
    background-color: #434343;
  }

  .card {
    background-color: #242424;
  }

  ion-list ion-item {
    background-color: #242424;
  }

  ion-list .item-block {
    background-color: #242424;
  }

  .item:active {
    background-color: #393939;
  }

  .item-select {
    color: #fff;
  }

  ion-item {
    background-color: transparent;
  }

  .item-inner {
    border-bottom: transparent !important;
  }

  .label {
    color: #fff !important;
  }

  .select-icon-inner {
    color: #1B79A9 !important;
  }

  .radio-checked { 
    border-color: #1B79A9;
  } 

  .radio-md div div {
    background-color: #1B79A9;
  }

  .radio-ios div div {
    border-color: #1B79A9;
  }

  .item-radio-checked {
    color: #1B79A9;
  }

  .item-radio-checked div div ion-label {
    color: #1B79A9;
  }

  .toggle-icon {
    background-color: #5ea1e5 !important; 
  }

  .toggle-inner {
    background-color: #1B79A9 !important;
  }

  ion-icon {
    color: #1B79A9;
  }

  .checkbox-checked {
    background-color: #1B79A9;
    border-color: #1B79A9;
  }

  .button {
    background-color: #1B79A9;
    border: 1px solid #fff;
    &:hover {
      opacity: 0.8;
    }
  }

  .item-radio-checked.item {
    color: #1B79A9;
  }

  ion-label {
    color: #1B79A9;
  }

  .back-button-icon {
    color: #fff;
  }

  .settings-nav-bar {
    color: #fff;
  }

  .smilo-button {
    background-color: #1B79A9;
  }
}  