// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$smilo-logo-max-height: 100px;

.smilo-button {
    border: 1px solid gray;
    margin-bottom: 25px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: white;
    background-color: #4F586B;
    font-size: 14px;
    font-weight: bold;

    &.small {
        width: 100px;
        height: 25px;
    }
}

.back-button {
    color: white;
}

.deleteButtonCss {
    color: red !important;
}
