<ion-header>
  <smilo-nav-header titleTranslationKey="import_keystore.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xl-3>
        <h4 class="wallet-import-header-keystore-file">Import the keystore by file</h4>
        <ion-card class="imported-filename-card">
          <ion-card-header>
              <ion-item *ngIf="canShowFilePasswordInputAndImportedName()">
                <p class="imported-file-name">Imported file name:</p>
                <div>
                  <p class="imported-file-name-value">{{ importedFilename }}</p>
                  <ion-icon (click)="resetCurrentKeystoreFile()" class="resetFileButton" name="close"></ion-icon>
                </div>
              </ion-item>
              <button *ngIf="canShowFileChooseImportButton()" (click)="importKeystoreFile()" ion-button full>Import keystore file</button>
              <ion-item *ngIf="canShowFilePasswordInputAndImportedName()">
                <ion-label stacked>
                  {{ 'import_keystore.password' | translate }}
                </ion-label>
                <ion-input type="password" [ngClass]="{'borderBottom': passwordFile.length === 0}" class="password-input" [(ngModel)]="passwordFile"></ion-input>
              </ion-item>
              <ion-item *ngIf="canShowFileImportNameInput()">
                <ion-label stacked>
                  {{ 'import_keystore.name' | translate }}
                </ion-label>
                <ion-input [ngClass]="{'borderBottom': walletNameFileImport.length === 0}" class="name-input" [(ngModel)]="walletNameFileImport"></ion-input>
              </ion-item>
              <ion-item *ngIf="canShowFileImportButton()">
                <button ion-button full class="import-button" (click)="importByFile()">{{ 'import_privatekey.buttons.import' | translate }}
                </button>
              </ion-item>
          </ion-card-header>
          <ion-card-content *ngIf="keystoreFileIsInvalid">
            <span class="error-box password-error">Invalid file type
            </span>
          </ion-card-content>
          <ion-card-content *ngIf="keystoreFileInvalidData">
            <span class="error-box password-error">Invalid keystore data
            </span>
          </ion-card-content>
          <ion-card-content *ngIf="filePasswordIsInvalid">
              <span class="error-box password-error">{{ 'import_keystore.error_password' | translate }}
              </span>
          </ion-card-content>
        </ion-card>
        <h4 class="wallet-import-header-keystore-manual">Import the keystore manually</h4>
        <ion-card>
          <ion-card-header class="wallet-import-header">
            <ion-list>
              <ion-item>
                <ion-label stacked>
                  {{ 'import_keystore.keystore' | translate }}
                </ion-label>
                <ion-textarea spellcheck="false" [ngClass]="{'borderBottom': keyStoreString.length === 0}" class="key-store-input" [(ngModel)]="keyStoreString" (ngModelChange)="onKeyStoreChanged()" rows="10" cols="50"></ion-textarea> 
              </ion-item>
            
              <ion-item *ngIf="canShowClipboardPasswordInput()">
                <ion-label stacked>
                  {{ 'import_keystore.password' | translate }}
                </ion-label>
                <ion-input type="password" [ngClass]="{'borderBottom': password.length === 0}" class="password-input" [(ngModel)]="password"></ion-input>
              </ion-item>
            
              <ion-item *ngIf="canShowClipboardWalletNameInput()">
                <ion-label stacked>
                  {{ 'import_keystore.name' | translate }}
                </ion-label>
                <ion-input [ngClass]="{'borderBottom': name.length === 0}" class="name-input" [(ngModel)]="name"></ion-input>
              </ion-item>
              <ion-item *ngIf="keyStoreIsInvalid">
                <span class="error-box key-store-error">{{ 'import_keystore.error_format' | translate }}
                </span>
              </ion-item>
              <ion-item *ngIf="passwordIsInvalid">
                <span class="error-box password-error">{{ 'import_keystore.error_password' | translate }}
                </span>
              </ion-item>
              <ion-item *ngIf="clipboardDataIsValid()">
                <button ion-button full class="import-button" (click)="importByClipboard()">{{ 'import_privatekey.buttons.import' | translate }}
                </button>
              </ion-item>
            </ion-list>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  