page-wallet-import-keystore {
    .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-container {
            max-width: 500px;
            margin-bottom: 20px;
        }

        .action-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .error-box {
                margin-bottom: 10px;
                color: red;
            }
            
            .password-explanation {
                font-size: 12px;
                margin-bottom: 20px;
            }
        }
    }
}
