<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="input-container">
    <ion-item>
      <ion-label stacked>
        {{ 'import_keystore.keystore' | translate }}
      </ion-label>
      <ion-textarea class="key-store-input" [(ngModel)]="keyStoreString" (ngModelChange)="onKeyStoreChanged()" rows="10" cols="50"></ion-textarea> 
    </ion-item>

    <ion-item>
      <ion-label stacked>
        {{ 'import_keystore.password' | translate }}
      </ion-label>
      <ion-input type="password" class="password-input" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        {{ 'import_keystore.name' | translate }}
      </ion-label>
      <ion-input class="name-input" [(ngModel)]="name"></ion-input>
    </ion-item>
  </div>

  <div class="action-container">
    <span *ngIf="keyStoreIsInvalid" class="error-box key-store-error">
      {{ 'import_keystore.error_format' | translate }}
    </span>

    <span *ngIf="passwordIsInvalid" class="error-box password-error">
        {{ 'import_keystore.error_password' | translate }}
      </span>

    <button *ngIf="dataIsValid()" class="smilo-button import-button" (click)="import()">
      {{ 'import_privatekey.buttons.import' | translate }}
    </button>
  </div>
</ion-content>
  