page-wallet-import-keystore {
    .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-container {
        max-width: 500px;
        margin-bottom: 20px;
    }

    .action-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .green-border .item-inner {
        box-shadow: inset 0 -1px 0 0 #32db64;
    }

    .error-box {
        white-space: pre-line;
        margin-bottom: 10px;
        color: red;
    }

    .import-button {
        height: 40px !important;
        margin-top: 15px;
        font-size: 15px !important;
    }

    ion-card-content {
        text-align: center;
    }
        
    .password-explanation {
        font-size: 12px;
        margin-bottom: 20px;
    }

    ion-label {
        font-weight: 100;
    }

    ion-textarea textarea {
        resize: none;
    }

    .wallet-import-header-keystore-file {
        margin-top: 15px !important;
        margin-bottom: 15px;
    }

    .wallet-import-header-keystore-manual {
        margin-top: 35px !important;
        margin-bottom: 15px;
    }

    .imported-file-name-value {
        font-weight: 800;
        float: left;
        width: 90%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .list-md .item-input:last-child {
        border: none;
    }

    .reset-file-button {
        color: red;
        float: right;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .upload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
    }

    .upload + label {
        width: 100%;
        height: 40px;
        font-weight: 500;
        color: white;
        line-height: 2.6em;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        background-color: #1B79A9;
        border-radius: 10px;

        &:hover {
            cursor:pointer;
            opacity: 0.8;
        }
    }

    .no-border .item-inner {
        box-shadow: none;
    }

    .item-input {
        margin-right: 14px;
    }

    .errorDiv {
        padding: 16px;
    }
}
