page-wallet-import-keystore {
    .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-container {
        max-width: 500px;
        margin-bottom: 20px;
    }

    .action-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error-box {
        white-space: pre-line;
        margin-bottom: 10px;
        color: red;
    }

    .borderBottom {
        border-bottom: 1px #1B79A9 solid;
    }

    .item.item-input.input-has-focus .item-inner {
        box-shadow: none;
    }

    .list-md .item-input.item-input-has-focus:last-child {
        box-shadow: none;
    }

    .import-button {
        height: 40px !important;
        margin-top: 15px;
        font-size: 15px !important;
    }

    ion-card-content {
        text-align: center;
    }
        
    .password-explanation {
        font-size: 12px;
        margin-bottom: 20px;
    }

    ion-label {
        font-weight: 100;
    }

    ion-textarea textarea {
        resize: none;
    }

    .wallet-import-header-keystore-file {
        margin-top: 15px !important;
        margin-bottom: 15px;
    }

    .wallet-import-header-keystore-manual {
        margin-top: 35px !important;
        margin-bottom: 15px;
    }

    .item-input:last-child {
        border-bottom: none !important;
    }

    .imported-file-name-value {
        font-weight: 800;
        float: left;
    }

    .resetFileButton {
        float: right;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .item-input {
        margin-right: 14px;
    }
}

.dark-theme {
    .imported-filename-card ion-card-header ion-item {
        background-color: #242424 !important;
    }

    .wallet-import-header ion-item {
        background-color: #242424 !important;
    }
}
