<div>
    <meter max="4" low ="3" optimum="4" [value]="passwordStrengthScore"></meter>
    <p class="password-strength-text">{{ passwordStrengthScoreText }}</p>
    <div class="content-div">
        <button ion-button class="toggle-advanced-button" (click)="togglePasswordAdvanced()">
                {{ 'password-strength-component.toggle-advanced' | translate }}
        </button>
    </div>
    <div class="advanced-field" *ngIf="showPasswordAdvanced">
        <div *ngIf="passwordFeedbackWarning.length > 0">
            <p class="password-advanced-feedback">{{ 'password-strength-component.feedback' | translate }}</p>
            <ul class="password-feedback-warning-list">
                <li *ngFor="let feedbackWarning of passwordFeedbackWarning" class="password-feedback-warning-list-item">{{ feedbackWarning }}</li>
            </ul>
        </div>
        <p class="time-to-crack">{{ 'password-strength-component.time-to-crack' | translate }}</p>
        <div class="password-more-info-row">
            <p class="password-more-info-key-left">{{ 'password-strength-component.online-throttling' | translate }}</p><p class="password-more-info-key-right">{{ onlineThrottlingMessage }}</p>
        </div>
        <div class="password-more-info-row">
            <p class="password-more-info-key-left">{{ 'password-strength-component.online-no-throttling' | translate }}</p><p class="password-more-info-key-right">{{ onlineNoThrottlingMessage }}</p>
        </div>
        <div class="password-more-info-row">
            <p class="password-more-info-key-left">{{ 'password-strength-component.offline-slow-hashing' | translate }}</p><p class="password-more-info-key-right">{{ offlineSlowHashingMessage }}</p>
        </div>
        <div class="password-more-info-row">
            <p class="password-more-info-key-left">{{ 'password-strength-component.offline-fast-hashing' | translate }}</p><p class="password-more-info-key-right">{{ offlineFastHashingMessage }}</p>
        </div>
    </div>
</div>