page-wallet-extra-import {
    .margin-top-min {
        margin-top: 10px;
    }

    .margin-top-max {
        margin-top: 50px;
    }

    .no-left-top-padding {
        padding-top: 0;
        padding-left: 0px;
    }
}
