<ion-header [hidden]="cameraIsShown">
    <smilo-nav-header titleTranslationKey="transfer.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding [hidden]="cameraIsShown">
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col col-12 col-xl-4>
                <h1 class="no-padding-top">{{ 'transfer.enter_address' | translate }}</h1>
                <ion-item class="input-bottom-border">
                    <ion-input type="text" placeholder="{{ 'transfer.placeholder_enter_address' | translate }}" (ngModelChange)="resetTransferState()" [(ngModel)]="toPublicKey"></ion-input> 
                    <ion-icon class="camera" (click)="scanQRCode()" item-end name="camera"></ion-icon>
                </ion-item>
                <h1>{{ 'transfer.select_currency' | translate }}</h1>
                <ion-item class="input-bottom-border no-border">
                    <ion-select class="choose-currency" [(ngModel)]="chosenCurrency" (ionChange)="setChosenCurrencyAmount()" interface="action-sheet">
                        <ion-option *ngFor="let balance of balances" [value]="balance.currency">{{ balance.currency }}</ion-option>
                    </ion-select> 
                </ion-item>     
                <h1>{{ 'transfer.enter_amount' | translate }}</h1>
                <ion-item class="input-bottom-border">
                    <ion-input class="biggerText padding" type="number" [(ngModel)]="amount" (ngModelChange)="onAmountChanged()" placeholder="{{ 'transfer.placeholder_enter_amount' | translate }}"></ion-input>  
                </ion-item>
                <h1>{{ 'transfer.enter_password' | translate }}</h1>
                <ion-item class="input-bottom-border">
                    <ion-input class="biggerText padding" type="password" (ngModelChange)="resetTransferState()" [(ngModel)]="password" placeholder="{{ 'transfer.placeholder_enter_password' | translate }}"></ion-input>  
                </ion-item>

                <div class="main-loader-div" *ngIf="statusMessage">
                    <p class="transfer-success-message">{{ statusMessage }}</p>
                    <div class="loader" *ngIf="isTransferring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="main-loader-div" *ngIf="errorMessage">
                    <p class="transfer-error-message">{{ errorMessage }}</p>
                </div>
                <button [disabled]="!canTransfer()" *ngIf="!isTransferring" class="transfer-button" ion-button (click)="transfer()" ion-button full>{{ 'transfer.transfer' | translate }}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="cameraIsShown">
    <div class="scanner-instruction-bar">
        {{ 'transfer.scanner.instruction' | translate }}
    </div>

    <div class="center-container">
        <div class="scanner-frame-container">
            <div class="frame left top"></div>
            <div class="frame-filler-width"></div>
            <div class="frame right top"></div>
    
            <div class="frame-filler-height"></div>
            <div class="frame-filler-width-height"></div>
            <div class="frame-filler-height"></div>
    
            <div class="frame left bottom"></div>
            <div class="frame-filler-width"></div>
            <div class="frame right bottom"></div>
        </div>
    </div>

    <div class="cancel-bar" (click)="hideCamera()">
        {{ 'transfer.scanner.cancel' | translate }}
    </div>
    
</ion-content>
