page-wallet-new-passphrase {
    .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .sub-title {
        font-size: 12px;
    }

    .passphrase-box {
        height: 400px;
        padding: 20px;

        .passphrase-content {
            height: 100%;
            border: 1px dotted gray;
            border-radius: 10px;
            margin-bottom: 10px;

            .word {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: calc(100% / 6);

                &:hover {
                    cursor: pointer;
                }

                span {
                    &.is-picked {
                        color: white;
                    }
                }
            }
        }

        .passphrase-footer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .passphrase-error {
                color: red;
                margin-bottom: 10px;
            }
        }
    }
}

.dark-theme {
    page-wallet-new-passphrase {
        span {
            &.is-picked {
                color: #434343 !important;
            }
        }
    }
}