<ion-header>
  <smilo-nav-header titleTranslationKey="passphrase.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="state == 'showPassphrase'">
    <ion-row>
      <ion-col class="title" text-center>
        {{ 'passphrase.show.title' | translate }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="sub-title" text-center>
        {{ 'passphrase.show.sub_title' | translate }}
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-12 col-md-6 col-lg-6 col-xl-4>
        <div class="passphrase-box show-box">
          <div class="passphrase-content">
            <div class="word" *ngFor="let word of words">
              <span>
                {{ word }}
              </span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button class="next-button" (click)="goToEnterState()">
          {{ 'passphrase.show.buttons.next' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="state == 'enterPassphrase'">
    <ion-row>
      <ion-col class="title" text-center>
        {{ 'passphrase.enter.title' | translate }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="sub-title" text-center>
        {{ 'passphrase.enter.sub_title' | translate }}
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-12 col-md-6 col-lg-6 col-xl-4>
          <div class="passphrase-box shuffled-box">
            <div class="passphrase-content">
              <div class="word" *ngFor="let word of shuffledWords; let i = index" (click)="pickWordIndex(i)">
                <span [ngClass]="{'is-picked': isPickedWordIndex(i)}">
                  {{ word }}
                </span>
              </div>
            </div>
          </div>
      </ion-col>

      <ion-col col-12 col-md-6 col-lg-6 col-xl-4>
        <div class="passphrase-box entered-box">
          <div class="passphrase-content">
            <div class="word" *ngFor="let enteredIndex of enteredIndices" (click)="unpickWordIndex(enteredIndex)">
              <span>
                {{ shuffledWords[enteredIndex] }}
              </span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col 
        text-center 
        col-12 col-md-6 col-lg-6 col-xl-4
        offset-md-6 offset-lg-6 offset-xl-6>
        <span class="passphrase-error" *ngIf="!passphraseIsValid && enteredIndices.length == words.length">
          {{ 'passphrase.enter.passphrase_error' | translate }}
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col 
        text-center 
        col-12 col-md-6 col-lg-6 col-xl-4
        offset-md-6 offset-lg-6 offset-xl-6>
        <button ion-button *ngIf="!passphraseIsValid" class="small reset-button" (click)="reset()">
          {{ 'passphrase.enter.buttons.reset' | translate }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button *ngIf="passphraseIsValid" class="next-button" (click)="next()">
          {{ 'passphrase.enter.buttons.next' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
