<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="top-container">
    <div class="title">
      {{ 'password.title' | translate }}
    </div>

    <div class="sub-title">
      {{ 'password.sub_title' | translate }}
    </div>
  </div>

  <div class="center-container">
    <div class="center-container-content">
      <div class="description">
        <div class="description-title">
          {{ 'password_explanation.title' | translate }}
        </div>
  
        <!-- Note we use the innerHTML attribute. We do this because the translation contains HTML tags. -->
        <div class="description-content" [innerHTML]="'password_explanation.content' | translate ">
        </div>
      </div>
  
      <div class="password-container">
        <div class="password-inputs">
          <ion-item>
            <ion-label color="primary" stacked>
                {{ 'password.password_hint' | translate }}
            </ion-label>
            <ion-input [(ngModel)]="enteredPassword" type="password"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label color="primary" stacked>
                {{ 'password.password_check_hint' | translate }}
            </ion-label>
            <ion-input [(ngModel)]="validatedPassword" type="password"></ion-input>
          </ion-item>

          <ion-label class="password-warning-label" *ngIf="!passwordsAreValid()" color="warning">
            {{ 'password.password_not_matching' | translate }}
          </ion-label>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-container">
    <button *ngIf="!passwordsArePristine() && passwordsAreValid()" class="smilo-button move-to-next-page-button" (click)="next()">
      {{ 'password.buttons.next' | translate }}
    </button>
  </div>

</ion-content>
