<ion-header>
  <smilo-nav-header titleTranslationKey="password.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col class="title" text-center>
        {{ 'password.title' | translate }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="sub-title" text-center>
        {{ 'password.sub_title' | translate }}
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="description-title">
          {{ 'password_explanation.title' | translate }}
        </div>
  
        <!-- Note we use the innerHTML attribute. We do this because the translation contains HTML tags. -->
        <div class="description-content" [innerHTML]="'password_explanation.content' | translate "></div>
      </ion-col>

      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <ion-grid>
          <ion-card>
            <ion-card-header>
              <ion-row>
                <ion-item class="no-padding">
                  <ion-label class="top-label" color="primary" stacked>
                      {{ 'password.password_hint' | translate }}
                  </ion-label>
                  <ion-input [(ngModel)]="enteredPassword" 
                              (ionChange)="onPasswordsChanged()" 
                              type="password"></ion-input>
                </ion-item>
              </ion-row>

              <ion-row>
                <ion-item class="no-padding">
                  <ion-label color="primary" stacked>
                      {{ 'password.password_check_hint' | translate }}
                  </ion-label>
                  <ion-input [(ngModel)]="validatedPassword" 
                              (ionChange)="onPasswordsChanged()" 
                              type="password"></ion-input>
                </ion-item>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-label class="password-warning-label" *ngIf="passwordStatus && passwordStatus.type != 'success'" color="warning">
          {{ passwordStatus.message }}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button *ngIf="!passwordsArePristine() && passwordStatus.type == 'success'" class="move-to-next-page-button" (click)="next()">
          {{ 'password.buttons.next' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
