page-wallet-new-disclaimer {
    .title {
        font-size: 24px;
        font-weight: bold;
    }

    .button {
        font-weight: 900;
        margin-top: 15px;
        border-radius: 25px;
    }
}
