<ion-header>
  <smilo-nav-header titleTranslationKey="disclaimer.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center class="title">
        {{ 'disclaimer.title' | translate }}
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-12 col-md-6 col-lg-5 col-xl-4>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-checkbox [(ngModel)]="agreedToTerm1"></ion-checkbox>
            </ion-col>

            <ion-col (click)="agreedToTerm1 = !agreedToTerm1">
              {{ 'disclaimer.term1' | translate }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-1>
              <ion-checkbox [(ngModel)]="agreedToTerm2"></ion-checkbox>
            </ion-col>

            <ion-col (click)="agreedToTerm2 = !agreedToTerm2">
              {{ 'disclaimer.term2' | translate }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-1>
              <ion-checkbox [(ngModel)]="agreedToTerm3"></ion-checkbox>
            </ion-col>

            <ion-col (click)="agreedToTerm3 = !agreedToTerm3">
              {{ 'disclaimer.term3' | translate }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-1>
              <ion-checkbox [(ngModel)]="agreedToTerm4"></ion-checkbox>
            </ion-col>

            <ion-col (click)="agreedToTerm4 = !agreedToTerm4">
              {{ 'disclaimer.term4' | translate }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center class="title">
        {{ 'disclaimer.title_name' | translate }}
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-12 col-md-6 col-lg-5 col-xl-4>
        <ion-item>
          <ion-label stacked>
            {{ 'disclaimer.wallet_name' | translate }}
          </ion-label>
          <ion-input class="wallet-name-input" [(ngModel)]="walletName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button (click)="finish()" *ngIf="canShowFinishButton()" class="finish-button">
          {{ 'disclaimer.buttons.finish' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div class="top-container">
    <div class="title">
      {{ 'disclaimer.title' | translate }}
    </div>
  </div>

  <div class="center-container">
    <div class="center-container-content">
      <div class="term-container">
        <div class="checkbox-container">
          <ion-checkbox [(ngModel)]="agreedToTerm1"></ion-checkbox>
        </div>
  
        <div (click)="agreedToTerm1 = !agreedToTerm1" class="term-description-container">
          {{ 'disclaimer.term1' | translate }}
        </div>
      </div>

      <div class="term-container">
        <div class="checkbox-container">
          <ion-checkbox [(ngModel)]="agreedToTerm2"></ion-checkbox>
        </div>
  
        <div (click)="agreedToTerm2 = !agreedToTerm2" class="term-description-container">
          {{ 'disclaimer.term2' | translate }}
        </div>
      </div>

      <div class="term-container">
        <div class="checkbox-container">
          <ion-checkbox [(ngModel)]="agreedToTerm3"></ion-checkbox>
        </div>
  
        <div (click)="agreedToTerm3 = !agreedToTerm3" class="term-description-container">
          {{ 'disclaimer.term3' | translate }}
        </div>
      </div>

      <div class="term-container">
        <div class="checkbox-container">
          <ion-checkbox [(ngModel)]="agreedToTerm4"></ion-checkbox>
        </div>
  
        <div (click)="agreedToTerm4 = !agreedToTerm4" class="term-description-container">
          {{ 'disclaimer.term4' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="top-container">
    <div class="title">
      {{ 'disclaimer.title_name' | translate }}
    </div>
  </div>

  <div class="center-container">
    <div class="center-container-content">
      <ion-item>
        <ion-label stacked>
          {{ 'disclaimer.wallet_name' | translate }}
        </ion-label>
        <ion-input class="wallet-name-input" [(ngModel)]="walletName"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="bottom-container">
    <button ion-button (click)="finish()" *ngIf="canShowFinishButton()" class="smilo-button finish-button">
      {{ 'disclaimer.buttons.finish' | translate }}
    </button>
  </div> -->
</ion-content>
