page-wallet-overview {
    #totalWalletValue {
        float: right;
        font-size: 30px;
    }

    #totalValueText {
        float: left;
        font-weight: 100;
    }

    #totalWalletValueCurrency {
        float: right;
        font-size: 16px;
        margin-right: 8px;
        margin-top: 15px;
    }

    #doughnutAgenda {
        margin-top: 20px;
    }

    .blue {
        background-color: #36A1EB;
    }

    .yellow {
        background-color: #FFCD55;
    }

    .marginTop {
        margin-top: 10px;
    }

    .amountHeader {
        font-size: 16px;
        font-weight: 100;
    }

    .valueText {
        font-size: 26px;
    }

    #aboutWalletHeader{ 
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #walletHeader {
        margin-bottom: 15px;
    }

    .walletAddress {
        font-size: 13px;
    }

    .legendColorBlock {
        display: inline-block;
        margin-right: 8px;
        width: 26px;
        height: 10px;
    }

    .legendText {
        display: inline-block;
    }
    
    .legendList {
        list-style-type: none;
        padding-left: 6px;
    }
}
