page-wallet-overview {
    #total-wallet-value {
        float: right;
        font-size: 30px;
    }

    #total-value-text {
        float: left;
        font-weight: 100;
    }

    #total-wallet-value-currency {
        float: right;
        font-size: 16px;
        margin-right: 8px;
        margin-top: 15px;
    }

    #doughnut-agenda {
        margin-top: 20px;
        text-align: center;
    }

    .blue {
        background-color: #36A1EB;
    }

    .yellow {
        background-color: #FFCD55;
    }

    .amount-header {
        font-size: 16px;
        font-weight: 100;
    }

    .value-text {
        font-size: 26px;
        float: left;
    }

    .margin-header { 
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .wallet-header {
        margin-bottom: 15px;
    }

    .wallet-address {
        font-size: 13px;
    }

    .legend-color-block {
        display: inline-block;
        margin-right: 8px;
        width: 26px;
        height: 10px;
    }

    .legend-text {
        display: inline-block;
    }
    
    .legend-list {
        list-style-type: none;
        padding-left: 6px;
    }

    .distribution-dougnut {
        margin: 0 auto;
        max-height: 162px !important;
        max-width: 327px !important;
    }
    
    .transfer-button {
        width: 100%;
        margin: 0px;
    }

    .refresh {
        font-size: 28px;
        float: right;
        margin-right: 24px;
    }

    .refresh:hover {
        cursor: pointer;
    }
    
    .wallet-overview-header {
        float: left;
    }

    .ion-ios-settings {
        top: 9px !important;
    }

    .legend-list-item {
        margin-top: 8px;
    }

    .hidden {
        opacity: 0;
    }

    .currency-value-text {
        float: right;
        font-size: 16px;
    }

    .currencies-overview {
        margin-top: 20px;
    }

    .wallet-list {
        margin-top: 20px;
    }

    .transaction-arrow {
        margin-top: 10px;
        margin-bottom: 16px;
        font-size: 24px;
    }

    .transaction-swap {
        font-size: 28px;
        margin-top: 23px;
    }

    .transaction-date {
        font-style: italic;
    }

    .currencies-overview {
        margin-left: 10px;
        margin-right: 10px;
    }

    .exchanges-overview {
        margin-left: 10px;
        margin-right: 10px;
    }

    .settings-card {
        margin-left: 0;
        width: 100%;
    }

    .no-transactions-card {
        margin-left: 0;
        width: 100%;
    }

    .transaction-from {
        margin-top: 8px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .transaction-list-amount {
        margin-top: 13px;
        margin-left: 8px;
        font-weight: 100;
        font-size: 16px;
    }

    .transaction-list-div-amount {
        display: flex;
    }

    .transaction-list {
        margin-top: 1px;
        max-height: 418px;
        overflow: scroll;
        margin: 0;
        width: 100%;
    }

    .greenColor {
        color: green !important;
    }

    .redColor {
        color: red !important;
    }

    .transaction-list-header {
        padding: 0px;
    }

    .transaction-list-header ion-list ion-item ion-avatar {
        margin: 0 !important;
    }

    .button {
        border: none !important;
    }
}

.dark-theme {
    .transaction-from {
        color: #fff;
    }

    .transaction-list-amount {
        color: #fff;
    }
}
