<ion-header>
    <smilo-nav-header titleTranslationKey="wallet_overview.nav-bar-title"></smilo-nav-header>
</ion-header>

<ion-content padding>
    <ion-grid>
         <ion-row justify-content-center>
            <ion-col col-12 col-xl-3>
                <h4 class="wallet-header">{{ 'wallet_overview.wallets' | translate }}</h4>
                <ion-list *ngIf="currentWallet" class="wallet-list" radio-group [(ngModel)]="currentWallet" (ionChange)="onWalletChanged()">
                    <ion-item class="wallet-item" *ngFor="let wallet of wallets; let i = index;">
                        <ion-label class="wallet-address">{{ wallet.name }} ({{ wallet.publicKey }})</ion-label>
                        <ion-radio [value]="wallet"></ion-radio>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col col-12 col-xl-3 class="wallet-info-col" *ngIf="currentWallet && initialized">
                <div>
                    <h4 class="wallet-overview-header margin-header">{{ 'wallet_overview.wallet_info' | translate }}</h4>
                    <ion-icon (click)="refreshWalletInfo()" class="refresh" name="refresh-circle"></ion-icon>
                </div>
                <ion-card class="funds-overview" [@visibilityChanged]="walletFundsVisibility">
                    <ion-card-header class="wallet-currency" *ngFor="let currency of balances;">
                        <p class="amount-header">{{ currency.currency }}</p>
                        <div>
                            <p class="value-text">{{ currency.amount }}</p>
                            <p class="currency-value-text">{{ pickedCurrency }} {{ currency.valueAmount }}</p>
                        </div>
                    </ion-card-header>
                    <ion-card-header>
                        <p id="total-value-text">{{ 'wallet_overview.total_value' | translate }}</p>
                        <p id="total-wallet-value">{{ totalCurrentCurrencyValue }}</p>
                        <p id="total-wallet-value-currency">{{ pickedCurrency }}</p>
                    </ion-card-header>
                    <button ion-button (click)="openTransferPage()" class="transfer-button" ion-button>{{ 'wallet_overview.transfer' | translate }}</button>
                </ion-card>
                <ion-list class="currencies-overview" [@visibilityChanged]="walletFundsVisibility">
                    <ion-item>
                        <ion-label>{{ 'wallet_overview.choose_value_currency' | translate }}</ion-label>
                            <ion-select class="choose-value-currency" [(ngModel)]="pickedCurrency" (ionChange)="setCalculatedCurrencyValue()" interface="action-sheet">
                                <ion-option  *ngFor="let currency of currentExchangeCurrencies" [value]="currency">{{ currency }}</ion-option>
                            </ion-select>
                    </ion-item>
                </ion-list>
                <ion-list class="exchanges-overview" [@visibilityChanged]="walletFundsVisibility">
                        <ion-item>
                            <ion-label>{{ 'wallet_overview.choose_exchange' | translate }}</ion-label>
                                <ion-select class="choose-exchange" [(ngModel)]="pickedExchange" (ionChange)="setExchange()" interface="action-sheet">
                                    <ion-option  *ngFor="let exchange of availableExchanges" [value]="exchange.exchangeName">{{ exchange.exchangeName }}</ion-option>
                                </ion-select>
                        </ion-item>
                    </ion-list>
                <ion-card class="distribution-overview" [@visibilityChanged]="walletFundsVisibility">
                    <ion-card-header>
                        <p>{{ 'wallet_overview.distribution' | translate }}</p>
                        <canvas #doughnutCanvas class="distribution-dougnut"> </canvas>
                        <div id="doughnut-agenda" class="legend-list" ref="legend">
                            <ul class="legend-list">
                                <li class="legend-list-item" *ngFor="let legendItem of legendList">
                                    <div class="legend-color-block" [style.backgroundColor]="legendItem.backgroundColor"></div>
                                    <p class="legend-text">{{ legendItem.label }} {{ legendItem.data }}%</p>
                                </li>
                            </ul>
                        </div>
                    </ion-card-header>
                </ion-card>
                <ion-card class="hidden" [@visibilityChanged]="walletFundsVisibilityTransferButton">
                    <ion-card-header>
                        <p>{{ 'wallet_overview.funds_hidden' | translate }}</p>
                    </ion-card-header>
                    <ion-card-content>
                            <button ion-button (click)="openTransferPage()" ion-button full>{{ 'wallet_overview.transfer' | translate }}</button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-12 col-xl-3 *ngIf="initialized">
                <h4 class="margin-header">{{ 'wallet_overview.settings' | translate }}</h4>
                <ion-card class="settings-card">
                    <ion-list>
                        <button detail-none ion-item>
                            <ion-label>{{ 'wallet_overview.show_funds' | translate }}</ion-label>
                            <ion-toggle class="show-funds" [(ngModel)]="showFundsStatus" (ngModelChange)="fundsSwitch()" color="secondary"></ion-toggle>
                        </button>
                    
                        <button detail-none ion-item (click)="exportModal('keystore')">
                            <ion-icon class="export-keystore-wallet" name="filing" item-end></ion-icon>
                            <ion-label>{{ 'wallet_overview.export_keystore' | translate }}</ion-label>
                        </button>

                        <button detail-none ion-item (click)="exportModal('privatekey')">
                            <ion-icon class="export-privatekey-wallet" name="key" item-end></ion-icon>
                            <ion-label>{{ 'wallet_overview.export_privatekey' | translate }}</ion-label>
                        </button>

                        <button detail-none ion-item (click)="copyPublicKey()">
                            <ion-icon class="copy-publickey" name="copy" item-end></ion-icon>
                            <ion-label>{{ 'wallet_overview.copy_public_key' | translate }}</ion-label>
                        </button>
                    
                        <button detail-none ion-item (click)="deleteWallet()">
                            <ion-icon class="delete-wallet" name="trash" item-end></ion-icon>
                            <ion-label>{{ 'wallet_overview.delete_wallet' | translate }}</ion-label>
                        </button>  
                    </ion-list>
                </ion-card>
                <h4 class="margin-header">{{ 'wallet_overview.transactions_history' | translate }}</h4>
                <ion-card class="transaction-list hidden" [@visibilityChanged]="transactionHistoryVisibility">
                    <ion-card-header class="transaction-list-header">
                        <ion-list>
                            <ion-item *ngFor="let transaction of transactionsHistory">
                                <ion-avatar item-start>
                                    <ion-icon class="transaction-swap" name="swap"></ion-icon>
                                </ion-avatar>
                                <p class="transaction-state" [ngClass]="{'is-pending': transaction.blockIndex == -1, 'is-confirmed': transaction.blockIndex != -1}">
                                    {{ (transaction.blockIndex == -1 ? 'wallet_overview.pending' : 'wallet_overview.confirmed') | translate }}
                                </p>
                                <p class="transaction-date">{{ transaction.timestamp | date:'MMM d, y, h:mm:ss a' }}</p>
                                
                                <h2 class="transaction-from">{{ transaction.inputAddress }}</h2>
                                <div class="transaction-list-div-amount">
                                    <ion-icon [ngClass]="{'greenColor': transaction.inputAddress !== currentWallet.publicKey, 
                                                        'redColor': transaction.inputAddress === currentWallet.publicKey }"
                                            class="transaction-arrow" 
                                            [name]="transaction.inputAddress !== currentWallet.publicKey ? 'arrow-back' :'arrow-forward'">
                                    </ion-icon>
                                    <h3 class="transaction-list-amount">{{ transaction.transactionOutputs[0].outputAmount }} XSM</h3>
                                </div>
                                <p class="transaction-to">{{ transaction.transactionOutputs[0].outputAddress }}</p>
                            </ion-item>
                        </ion-list>
                    </ion-card-header>
                </ion-card>
                <ion-card class="no-transactions-card" [@visibilityChanged]="noTransactionHistoryVisibility">
                    <ion-card-header>
                        <p>{{ 'wallet_overview.no_transactions_history' | translate }}</p>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
